<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Minha Conta</h6>
    </div>
    <div class="card-body">

        <table class="table table-bordered">
            <tr>
                <td width="200">Nome do Usuário:</td>
                <td><strong>Sergio Mendes</strong></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><strong>sergio.coti@gmail.com</strong></td>
            </tr>
            <tr>
                <td>Data de Cadastro:</td>
                <td><strong>10/08/2021</strong></td>
            </tr>
        </table>

    </div>
</div>