<div *ngIf="message" class="alert alert-primary alert-dismissible fade show" role="alert">
    <strong><i class="fa fa-check-circle"></i> {{message}}</strong>
    <button type="button" class="close" (click)="clearMessage()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cadastro de Tarefas</h6>
    </div>
    <div class="card-body">

        <form [formGroup]="formCadastroTarefa" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-md-6">
                    <label>Nome da tarefa:</label>
                    <input type="text" class="form-control" formControlName="nome" />

                    <div class="text-danger" *ngIf="form.nome.touched && form.nome.invalid">

                        <span *ngIf="form.nome.errors.required">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe o nome.
                        </span>

                        <span *ngIf="form.nome.errors.minlength">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe pelo menos 6 caracteres.
                        </span>

                        <span *ngIf="form.nome.errors.maxlength">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe no máximo 150 caracteres.
                        </span>

                    </div>
                </div>
                <div class="col-md-3">
                    <label>Data da tarefa:</label>
                    <input type="date" class="form-control" formControlName="data" />

                    <div class="text-danger" *ngIf="form.data.touched && form.data.invalid">

                        <span *ngIf="form.data.errors.required">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe a data.
                        </span>

                    </div>
                </div>
                <div class="col-md-3">
                    <label>Hora da tarefa:</label>
                    <input type="time" class="form-control" formControlName="hora" />

                    <div class="text-danger" *ngIf="form.hora.touched && form.hora.invalid">

                        <span *ngIf="form.hora.errors.required">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe a hora.
                        </span>

                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <label>Descrição da tarefa:</label>
                    <textarea class="form-control" formControlName="descricao"></textarea>

                    <div class="text-danger" *ngIf="form.descricao.touched && form.descricao.invalid">

                        <span *ngIf="form.descricao.errors.required">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe a descrição.
                        </span>

                        <span *ngIf="form.descricao.errors.minlength">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe pelo menos 6 caracteres.
                        </span>

                        <span *ngIf="form.descricao.errors.maxlength">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe no máximo 250 caracteres.
                        </span>

                    </div>
                </div>
                <div class="col-md-3">
                    <label>Prioridade:</label>
                    <select class="form-control" formControlName="prioridade">
                        <option value="">Escolha uma opção</option>
                        <option value="1">BAIXA</option>
                        <option value="2">MÉDIA</option>
                        <option value="3">ALTA</option>
                    </select>

                    <div class="text-danger" *ngIf="form.prioridade.touched && form.prioridade.invalid">

                        <span *ngIf="form.prioridade.errors.required">
                            <i class="fa fa-exclamation-circle"></i>
                            Por favor, informe a prioridade.
                        </span>

                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <button class="btn btn-success" type="submit" [disabled]="!formCadastroTarefa.valid">
                        <i class="fa fa-check-circle"></i> Cadastrar Tarefa
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>