<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Alterar Senha</h6>
    </div>
    <div class="card-body">

        <form>

            <div class="row">
                <div class="col-md-4">
                    <label>Senha atual:</label>
                    <input type="password" class="form-control"/>
                </div>
                <div class="col-md-4">
                    <label>Nova senha:</label>
                    <input type="password" class="form-control"/>
                </div>
                <div class="col-md-4">
                    <label>Confirme a nova senha:</label>
                    <input type="password" class="form-control"/>
                </div>
            </div>
            <br/>

            <input type="submit" class="btn btn-success"
                value="Salvar Alterações"/>

        </form>

    </div>
</div>